

body{
    font-family: Arial,  sans-serif;
}

.fondoLemonPie{
	background-image:url("../img/lemon-background.png");
	background-repeat: no-repeat;
	padding-top: 20%;
	background-position: bottom center;
	opacity: 1;
	background-size: cover;
	color:white;
}

h2{
    background-color: #EAEAEA;
    font-style: italic;
    font-weight: bold;
    font-family:  "Times New Roman", Times, serif;
}
h3{
    font-style: italic;
    font-family:  "Times New Roman", Times, serif;
}
